.experience {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 2.5rem;
}

/* TÍTULO PRINCIPAL */
.experience h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 1rem;
}

.experience > div {
  width: 100%;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 0.6rem;

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* EMPRESA */
.experience h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #ffffff;
}

/* PUESTO */
.experience h4 {
  font-size: 1.1rem;
  font-weight: 500;
  color: #b4b4b4;
}

/* FECHAS */
.experience span {
  font-size: 0.95rem;
  color: #60a5fa;
}
.experience p {
  font-size: 1rem;
  color: #b4b4b4;
  line-height: 1.6;
}
